<%@ page language="java" import="java.util.*" pageEncoding="UTF-8"%>
<%@ taglib prefix="c" uri="http://java.sun.com/jstl/core" %>
<%
String path = request.getContextPath();
String basePath = request.getScheme()+"://"+request.getServerName()+":"+request.getServerPort()+path+"/";
%>

<!DOCTYPE html>
<html>	
<head>
<title>等打完这场仗我就回老家结婚</title>

<!-- add styles -->
<link href="css/css.css" rel="stylesheet" type="text/css" />
<link rel="stylesheet" href="styles/main.css"/>
<style type="text/css">
/* å¨å±æ ·å¼ */
*{padding:0; margin:0; list-style:none}
.roundabout-holder { margin: 0px auto; width: 850px; height: 496px; }
.roundabout-moveable-item { border-radius: 4px; border: 3px solid rgba(0, 0, 0, 0.08); width: 646px; height: 416px; cursor: pointer; -moz-border-radius: 4px; -webkit-border-radius: 4px; }
.roundabout-moveable-item img { width: 100%; }
.roundabout-in-focus { border: 3px solid rgba(0, 0, 0, 0.2); }
</style>
<script type="text/javascript" src="js/jquery-1.4.2.min.js"></script>
<script type="text/javascript" src="js/roundabout.js"></script> 
<script type="text/javascript" src="js/roundabout_shapes.js"></script> 
<!--<script type="text/javascript" src="js/gallery_init.js"></script> -->
<script type="text/javascript"> Cufon.now(); </script>
</head>

<body style="background-image:url(images/19-1.jpg); " >

<div class="container" style="margin: 0px; padding: 0px; height: 50px;min-width: 1200px;">
	<ul class="menu" style="z-index:99999">
		<li><a href="../main.jsp">首页</a></li>
		<li><a href="#">菜单一</a>
			<ul class="submenu">
				<li><a href="#">哈哈</a></li>
				<li><a href="#">哈哈</a></li>
				<li><a href="#">哈哈</a></li>
				<li><a href="#">哈哈</a></li>
				
			</ul>
		</li>
		<li class="active"><a href="#s2">菜单二</a>
			<ul class="submenu">
				<li><a href="#">哈哈</a></li>
				<li><a href="#">哈哈</a></li>
				<li><a href="#">哈哈</a></li>
				<li><a href="#">哈哈</a></li>
			
			</ul>
		</li>
		<li><a href="#">菜单三</a>
			<ul class="submenu">
				<li><a href="#">哈哈</a></li>
				<li><a href="#">哈哈</a></li>
				<li><a href="#">哈哈</a></li>
				<li><a href="#">哈哈</a></li>
				
			</ul>
		</li>
		<li><a href="#">哈哈</a></li>
		<li><a href="#">嘻嘻</a></li>
	</ul>
</div>
<div class="contain" style="width:100%; height:90%; margin-left:0%; margin-right:5%; padding: 0px;">
    	<ul id="myRoundabout">
     	 	<li id="one"><img alt="啊啊啊啊啊" src="images/ink0919big1.jpg"></li> 
      		<li id="one"><img alt="啊啊啊啊" src="images/ink0919big2.jpg"></li>
     		<li id="one"><img alt="啊啊啊" src="images/ink0919big3.jpg"></li>
      		<li id="one"><img alt="啊啊" src="images/ink0919big4.jpg"></li>
      		<li id="one"><img alt="" src="images/ink0919big7.jpg"></li>
    	</ul>
</div>

<!--<div class="bs-example">
    <!-- Left to right-->
    <div class="row">
        <div class="col-sm-6">
            <!-- normal -->
            <div class="ih-item circle effect2 left_to_right"><a href="#">
                <div class="img"><img src="images/assets/4.jpg" alt="img"></div>
                <div class="info">
                    <h3>Heading here</h3>
                    <p>Description goes here</p>
                </div>
            </a></div>
            <!-- end normal -->
        </div>
        <div class="col-sm-6">
            <!-- colored -->
            <div class="ih-item circle colored effect2 left_to_right"><a href="#">
                <div class="img"><img src="images/assets/5.jpg" alt="img"></div>
                <div class="info">
                    <h3>Heading here</h3>

                    <p>Description goes here</p>
                </div>
            </a></div>
            <!-- end colored -->
        </div>

        <div class="col-sm-6">
            <!-- normal -->
            <div class="ih-item circle effect2 right_to_left"><a href="#">
                <div class="img"><img src="images/assets/6.jpg" alt="img"></div>
                <div class="info">
                    <h3>Heading here</h3>

                    <p>Description goes here</p>
                </div>
            </a></div>
            <!-- end normal -->
        </div>
        <div class="col-sm-6">
            <!-- colored -->
            <div class="ih-item circle colored effect2 right_to_left"><a href="#">
                <div class="img"><img src="images/assets/7.jpg" alt="img"></div>
                <div class="info">
                    <h3>Heading here</h3>

                    <p>Description goes here</p>
                </div>
            </a></div>
            <!-- end colored -->
        </div>
    </div>
    <!-- end Right to left-->
    <!-- Top to bottom-->
    <div class="row">
        <div class="col-sm-6">
            <!-- normal -->
            <div class="ih-item circle effect2 top_to_bottom"><a href="#">
                <div class="img"><img src="images/assets/11.jpg" alt="img"></div>
                <div class="info">
                    <h3>Heading here</h3>

                    <p>Description goes here</p>
                </div>
            </a></div>
            <!-- end normal -->
        </div>
        <div class="col-sm-6">
            <!-- colored -->
            <div class="ih-item circle colored effect2 top_to_bottom"><a href="#">
                <div class="img"><img src="images/assets/12.jpg" alt="img"></div>
                <div class="info">
                    <h3>Heading here</h3>

                    <p>Description goes here</p>
                </div>
            </a></div>
            <!-- end colored -->
        </div>

        <div class="col-sm-6">
            <!-- normal -->
            <div class="ih-item circle effect2 bottom_to_top"><a href="#">
                <div class="img"><img src="images/assets/13.jpg" alt="img"></div>
                <div class="info">
                    <h3>Heading here</h3>

                    <p>Description goes here</p>
                </div>
            </a></div>
            <!-- end normal -->
        </div>
        <div class="col-sm-6">
            <!-- colored -->
            <div class="ih-item circle colored effect2 bottom_to_top">
            <a href="centerComment.jsp" target="_blank">
                <div class="img"><img src="images/assets/14.jpg" alt="img"></div>
                <div class="info">
                    <h3>国际中二交流中心</h3>
                    <p>没错！我就是第九个被选召的孩子</p>
                </div>
            </a>
            </div>
            <!-- end colored -->
        </div>
    </div>
    <!-- end Bottom to top-->
<!--</div>-->

</body>
</html>